*{
    color: #ffffff;
  }

  p {
    size: 16px;
  }

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background: url("https://images.unsplash.com/photo-1615926978230-574692b7be6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80");
    background-size: cover;
    opacity: 0.9;
    padding: 50px 100px;
}

nav {
    float: right;
  }

  .navbar {
    margin-top: 10%;
  }
  
  .navbar li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
  }
  
  .navbar li a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    font-size: 20px;
  }
  
  .navbar li a:hover, .navbar .current a {
    color: #ffffff;
  }

  .about-me {
    text-align: center;
    margin: 50px;
  }
 
  .grid-item {
    padding: 10px;
    text-align: center;
  }

  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-description {
    height: 100px;
   
  }

  img {
    width: 100%;
    object-fit: contain;
    max-height: 425px;
  }